In [228]:
# 1.20 The built-in data set islands contains the size of the worldâ€™s land masses that exceed 10,000 square miles. Use sort() with the argument decreasing=TRUE tfind the seven largest land masses.

In [229]:
# Load the built-in dataset
data("islands")

# Sort the data in decreasing order and select the top 7 largest land masses
sort(islands, decreasing=TRUE)[1:7]

         Asia        Africa North America South America    Antarctica
        16988         11506          9390          6795          5500
       Europe     Australia
         3745          2968

In [230]:
#1.21 Load the data set primes (UsingR). This is the set of prime numbers in[1,2003]. How many are there? How many in the range [1,100]? [100,1000]?

In [231]:
install.packages("UsingR")
library(UsingR)

The downloaded binary packages are in
	/var/folders/4w/n3320jts62b9p22g1gw510gm0000gn/T//RtmpDlCH8t/downloaded_packages

In [232]:
data(primes)
totalprimes=length(primes)
print(totalprimes)

[1] 304

In [233]:
primes1_2003=sum(primes<=2003)
print(primes1_2003)

[1] 304

In [234]:
primes1_100=sum(primes<=100)
print(primes1_100)

[1] 25

In [235]:
primes100_1000=sum(primes>=100 & primes<=1000)
print(primes100_1000)

[1] 143

In [236]:
#1.22 Load the data set primes (UsingR). We wish to find all the twin primes. These are numbers p and p+2, where both are prime.

In [237]:
#part 1

In [238]:
#primes[-1] returns the primes vector without the negative element. in other words, the negative index will remove the element that was specified

In [239]:
print(primes[-1])

  [1]    3    5    7   11   13   17   19   23   29   31   37   41   43   47   53
 [16]   59   61   67   71   73   79   83   89   97  101  103  107  109  113  127
 [31]  131  137  139  149  151  157  163  167  173  179  181  191  193  197  199
 [46]  211  223  227  229  233  239  241  251  257  263  269  271  277  281  283
 [61]  293  307  311  313  317  331  337  347  349  353  359  367  373  379  383
 [76]  389  397  401  409  419  421  431  433  439  443  449  457  461  463  467
 [91]  479  487  491  499  503  509  521  523  541  547  557  563  569  571  577
[106]  587  593  599  601  607  613  617  619  631  641  643  647  653  659  661
[121]  673  677  683  691  701  709  719  727  733  739  743  751  757  761  769
[136]  773  787  797  809  811  821  823  827  829  839  853  857  859  863  877
[151]  881  883  887  907  911  919  929  937  941  947  953  967  971  977  983
[166]  991  997 1009 1013 1019 1021 1031 1033 1039 1049 1051 1061 1063 1069 1087
[181] 1091 1093 1097 1103 1109 1117 1123 1129 1151 1153 1163 1171 1181 1187 1193
[196] 1201 1213 1217 1223 1229 1231 1237 1249 1259 1277 1279 1283 1289 1291 1297
[211] 1301 1303 1307 1319 1321 1327 1361 1367 1373 1381 1399 1409 1423 1427 1429
[226] 1433 1439 1447 1451 1453 1459 1471 1481 1483 1487 1489 1493 1499 1511 1523
[241] 1531 1543 1549 1553 1559 1567 1571 1579 1583 1597 1601 1607 1609 1613 1619
[256] 1621 1627 1637 1657 1663 1667 1669 1693 1697 1699 1709 1721 1723 1733 1741
[271] 1747 1753 1759 1777 1783 1787 1789 1801 1811 1823 1831 1847 1861 1867 1871
[286] 1873 1877 1879 1889 1901 1907 1913 1931 1933 1949 1951 1973 1979 1987 1993
[301] 1997 1999 2003

In [240]:
#part 2

In [241]:
#if you set n=length(primes), primes[-n] will return the primes vector without the last element which is 2003 in this case

In [242]:
n=length(primes)
print(primes[-n])

  [1]    2    3    5    7   11   13   17   19   23   29   31   37   41   43   47
 [16]   53   59   61   67   71   73   79   83   89   97  101  103  107  109  113
 [31]  127  131  137  139  149  151  157  163  167  173  179  181  191  193  197
 [46]  199  211  223  227  229  233  239  241  251  257  263  269  271  277  281
 [61]  283  293  307  311  313  317  331  337  347  349  353  359  367  373  379
 [76]  383  389  397  401  409  419  421  431  433  439  443  449  457  461  463
 [91]  467  479  487  491  499  503  509  521  523  541  547  557  563  569  571
[106]  577  587  593  599  601  607  613  617  619  631  641  643  647  653  659
[121]  661  673  677  683  691  701  709  719  727  733  739  743  751  757  761
[136]  769  773  787  797  809  811  821  823  827  829  839  853  857  859  863
[151]  877  881  883  887  907  911  919  929  937  941  947  953  967  971  977
[166]  983  991  997 1009 1013 1019 1021 1031 1033 1039 1049 1051 1061 1063 1069
[181] 1087 1091 1093 1097 1103 1109 1117 1123 1129 1151 1153 1163 1171 1181 1187
[196] 1193 1201 1213 1217 1223 1229 1231 1237 1249 1259 1277 1279 1283 1289 1291
[211] 1297 1301 1303 1307 1319 1321 1327 1361 1367 1373 1381 1399 1409 1423 1427
[226] 1429 1433 1439 1447 1451 1453 1459 1471 1481 1483 1487 1489 1493 1499 1511
[241] 1523 1531 1543 1549 1553 1559 1567 1571 1579 1583 1597 1601 1607 1609 1613
[256] 1619 1621 1627 1637 1657 1663 1667 1669 1693 1697 1699 1709 1721 1723 1733
[271] 1741 1747 1753 1759 1777 1783 1787 1789 1801 1811 1823 1831 1847 1861 1867
[286] 1871 1873 1877 1879 1889 1901 1907 1913 1931 1933 1949 1951 1973 1979 1987
[301] 1993 1997 1999

In [243]:
#part 3

In [244]:
#primes[-1]-primes[-n] might give clused to what the twin primes are because this will essentially subtract consecutive primes. This helps us find the twin primes because when we subtract primes[-n] from primes[-1], we will get a vector of the differences between consecutive primes. If we get a 2, then we know that they are twin primes

In [245]:
tp=(primes[-1]- primes[-n]==2)

In [246]:
twinprimes=primes[tp]
print(twinprimes)

 [1]    3    5   11   17   29   41   59   71  101  107  137  149  179  191  197
[16]  227  239  269  281  311  347  419  431  461  521  569  599  617  641  659
[31]  809  821  827  857  881 1019 1031 1049 1061 1091 1151 1229 1277 1289 1301
[46] 1319 1427 1451 1481 1487 1607 1619 1667 1697 1721 1787 1871 1877 1931 1949
[61] 1997

In [247]:
#1.23 For the data set treering, which contains tree-ring widths in dimension-less units, use an R function to answer the following:
#1. How many observations are there?
#2. Find the smallest observation.
#3. Find the largest observation.
#4. How many are bigger than 1.5?

In [248]:
data(treering)

In [249]:
number_of_observations=length(treering)

In [250]:
cat("Number of observations:",number_of_observations)

Number of observations: 7980

In [251]:
small_obs=min(treering)
cat("smallest observation:",small_obs)

smallest observation: 0

In [252]:
larg_obs=max(treering)
cat("largest observation:",larg_obs)

largest observation: 1.908

In [253]:
greatherthan1.5=sum(treering>1.5)
cat("observation greater than 1.5:",greatherthan1.5)

observation greater than 1.5: 219

In [254]:
#1.24 The data set mandms (UsingR) contains the targeted color distribution in a bag of M&Ms as percentages for varies types of packaging. Answer these questions.
#1. Which packaging is missing one of the six colors?
#2. Which types of packaging have an equal distribution of colors?
#3. Which packaging has a single color that is more likely than all the others? Whatcolor is this?

In [255]:
data(mandms)

In [256]:
head(mandms)

               blue    brown   green   orange  red     yellow
milk chocolate 10.0000 30.0000 10.0000 10.0000 20.0000 20.0000
Peanut         20.0000 20.0000 10.0000 10.0000 20.0000 20.0000
Peanut Butter  20.0000 20.0000 20.0000  0.0000 20.0000 20.0000
Almond         16.6667 16.6667 16.6667 16.6667 16.6667 16.6667
kid minis      16.6667 16.6667 16.6667 16.6667 16.6667 16.6667

In [257]:
#1

In [258]:
mc=apply(mandms,1,function(row) any(row==0))
missingcolor=rownames(mandms)[mc]
cat("packaging is missing one of the six colors:",missingcolor)

packaging is missing one of the six colors: Peanut Butter

In [259]:
#2

In [260]:
eq=apply(mandms,1, function(row) all(row==row[1]))
equaldistribution= rownames(mandms)[eq]
cat("packaging have an equal distribution of colors:",equaldistribution)

packaging have an equal distribution of colors: Almond kid minis

In [261]:
#3

In [262]:
single_color_dominant= apply(mandms, 1, function(row) {
  max_val= max(row)
  sum(row == max_val) == 1 && max_val > max(row[row != max_val])
})

packaging_single_color_dominant = rownames(mandms)[single_color_dominant]

dominant_colors = apply(mandms[packaging_single_color_dominant, , drop = FALSE], 1, function(row) {
  names(row)[which.max(row)]
})

cat("Packaging with a single color more likely than all the others and the dominant color: ")
for (i in 1:length(packaging_single_color_dominant)) {
  cat(packaging_single_color_dominant[i], ":", dominant_colors[i])
}

Packaging with a single color more likely than all the others and the dominant color: milk chocolate : brown

In [263]:
#1.25 The times variable in the data set nym. 2002 (UsingR) contains the time to finish for several participants in the 2002 New York City Marathon. Answer these questions.
#1. How many times are stored in the data set?
#2. What was the fastest time in minutes? Convert this into hours and minutes using R.
#3. What was the slowest time in minutes? Convert this into hours and minutes using R

In [264]:
data(nym.2002)
head(nym.2002$time)

[1] 217.4833 272.5500 265.2833 256.1500 252.2500 201.9667

In [265]:
#1

In [266]:
numberoftimes=length(nym.2002$time)
cat("Number of times stored in data set:",numberoftimes)

Number of times stored in data set: 1000

In [267]:
#2

In [268]:
fastesttime=min(nym.2002$time)
cat("Fastest time in minutes:",fastesttime)

Fastest time in minutes: 147.3333

In [269]:
fasthours=floor(fastesttime/60)
fastmin=fastesttime %% 60
cat("Fastest time:",fasthours,"hours and",fastmin,"minutes")

Fastest time: 2 hours and 27.33333 minutes

In [270]:
#3

In [271]:
slowesttime=max(nym.2002$time)
cat("Slowest time in minutes:",slowesttime)

Slowest time in minutes: 566.7833

In [272]:
slowhours=floor(slowesttime/60)
slowmin=slowesttime %% 60
cat("Slowest time:",slowhours,"hours and", slowmin,"minutes")

Slowest time: 9 hours and 26.78333 minutes

In [273]:
#For the data set rivers, which is the longest river? The shortest?

In [274]:
data(rivers)

In [275]:
longestriver=max(rivers)
cat("The longest river is",longestriver,"miles")

The longest river is 3710 miles

In [276]:
shortestriver=min(rivers)
cat("The shortest river is:", shortestriver,"miles")

The shortest river is: 135 miles

In [277]:
#1.27 The data set uspop contains decade-by-decade population figures for the United States from 1790 to 1970.
#1. Use names() and seq() to add the year names to the data vector.
#2. Use diff() to find the inter-decade differences. Which decade had the greatest increase?
#3. Explain why you could reasonably expect that the difference will always increase with each decade. Is this the case with the data?

In [278]:
#1

In [279]:
data(uspop)

In [280]:
years=seq(1790,1970, by=10)
names(uspop)=years
print(uspop)

Time Series:
Start = 1790
End = 1970
Frequency = 0.1
  1790   1800   1810   1820   1830   1840   1850   1860   1870   1880   1890
  3.93   5.31   7.24   9.64  12.90  17.10  23.20  31.40  39.80  50.20  62.90
  1900   1910   1920   1930   1940   1950   1960   1970
 76.00  92.00 105.70 122.80 131.70 151.30 179.30 203.20

In [281]:
#2

In [282]:
pop_differences=diff(uspop)
names(pop_differences)=paste(years[-length(years)],years[-1],sep="-")
print(pop_differences)

Time Series:
Start = 1800
End = 1970
Frequency = 0.1
1790-1800 1800-1810 1810-1820 1820-1830 1830-1840 1840-1850 1850-1860 1860-1870
     1.38      1.93      2.40      3.26      4.20      6.10      8.20      8.40
1870-1880 1880-1890 1890-1900 1900-1910 1910-1920 1920-1930 1930-1940 1940-1950
    10.40     12.70     13.10     16.00     13.70     17.10      8.90     19.60
1950-1960 1960-1970
    28.00     23.90

In [283]:
greatestincrease=names(pop_differences)[which.max(pop_differences)]
cat("The decade with the greatest increase:",greatestincrease)

The decade with the greatest increase: 1950-1960

In [284]:
#3

In [285]:
#Typically we would expect an increasing difference with each decade because of natural population growth, more immigrants, and advancements in healthcare that prolong living.